/* LESS - http://lesscss.org style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33x0u0kiCFn8GVde7NVmtwSqXtg */

/* Feel free to copy&paste color codes to your application */


/* MIXINS */

/* As hex codes */

@color-primary-0: #5894C2;	/* Main Primary color */
@color-primary-1: #B2D4EF;
@color-primary-2: #80B3DA;
@color-primary-3: #3977A7;
@color-primary-4: #206396;

@color-secondary-1-0: #FFDA6B;	/* Main Secondary color (1) */
@color-secondary-1-1: #FFEEBA;
@color-secondary-1-2: #FFE38F;
@color-secondary-1-3: #FFD24C;
@color-secondary-1-4: #E9B825;

@color-secondary-2-0: #FF956B;	/* Main Secondary color (2) */
@color-secondary-2-1: #FFCEBA;
@color-secondary-2-2: #FFAF8F;
@color-secondary-2-3: #FF7F4C;
@color-secondary-2-4: #E95D25;



/* As RGBa codes */

@rgba-primary-0: rgba( 88,148,194,1);	/* Main Primary color */
@rgba-primary-1: rgba(178,212,239,1);
@rgba-primary-2: rgba(128,179,218,1);
@rgba-primary-3: rgba( 57,119,167,1);
@rgba-primary-4: rgba( 32, 99,150,1);

@rgba-secondary-1-0: rgba(255,218,107,1);	/* Main Secondary color (1) */
@rgba-secondary-1-1: rgba(255,238,186,1);
@rgba-secondary-1-2: rgba(255,227,143,1);
@rgba-secondary-1-3: rgba(255,210, 76,1);
@rgba-secondary-1-4: rgba(233,184, 37,1);

@rgba-secondary-2-0: rgba(255,149,107,1);	/* Main Secondary color (2) */
@rgba-secondary-2-1: rgba(255,206,186,1);
@rgba-secondary-2-2: rgba(255,175,143,1);
@rgba-secondary-2-3: rgba(255,127, 76,1);
@rgba-secondary-2-4: rgba(233, 93, 37,1);



/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */

.tablerow {
    padding: 0.5em;   
}

.tablerow-even {
    .tablerow;
    background-color: @color-secondary-1-1 !important;   
    &:hover {
           background-color: @color-secondary-1-0 !important;   
    }
}

.tablerow-odd {
    .tablerow;
    background-color: @color-secondary-1-2 !important;   
    &:hover {
           background-color: @color-secondary-1-0 !important;   
    }
}

.tablerow-header {
    .tablerow;
    background-color: @color-secondary-1-3 !important;  
    font-weight: bold;
}

.table > tbody > tr > th {
    .tablerow-header;
}

.table i {
    color: @color-secondary-2-4;
}

.badge {
    background-color: @color-secondary-2-4;
}

// Yeoman's styles

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


// Theme style
/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 50px;
  background-color: #f5f5f5;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: @color-primary-4;
  &:hover {
      background-color: @color-primary-4;
  }
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


