<div class="row">
    <h1>{{ 'food_title' | translate }}</h1>
    <table class="table table-striped">
        <tr>
            <th>{{ 'food_name' | translate }}</th>
            <th>{{ 'food_small' | translate }}</th>
            <th>{{ 'food_medium' | translate }}</th>
            <th>{{ 'food_large'  | translate }}</th>
            <th>{{ 'food_smos_small' | translate }}</th>
            <th>{{ 'food_smos_medium' | translate }}</th>
            <th>{{ 'food_smos_large' | translate }}</th>
        </tr>
        <tr ng-repeat="food in foodList" ng-class="{'tablerow-even' : $even, 'tablerow-odd' : $odd}">
            <td><strong>{{ food.name | uppercase}}</strong></td>
            <td ng-init="food.order.small = 0">
                {{ food.sizes | foodprice:'small' }} 
                <i class="fa fa-minus-circle fa-lg" ng-click="food.order.small=((food.order.small-1)<0?0:(food.order.small-1))"></i> 
                <span class="badge">{{ food.order.small }}</span> 
                <i class="fa fa-plus-circle fa-lg" ng-click="food.order.small = food.order.small+1"></i>
            </td>
            <td ng-init="food.order.medium = 0">{{ food.sizes | foodprice:'medium' }}
                <i class="fa fa-minus-circle fa-lg" ng-click="food.order.medium=((food.order.medium-1)<0?0:(food.order.medium-1))"></i> 
                <span class="badge">{{ food.order.medium }}</span> 
                <i class="fa fa-plus-circle fa-lg" ng-click="food.order.medium = food.order.medium+1"></i>
            </td>
            <td ng-init="food.order.large = 0">{{ food.sizes | foodprice:'large' }}
                <i class="fa fa-minus-circle fa-lg" ng-click="food.order.large=((food.order.large-1)<0?0:(food.order.large-1))"></i> 
                <span class="badge">{{ food.order.large }}</span> 
                <i class="fa fa-plus-circle fa-lg" ng-click="food.order.large = food.order.large+1"></i>
            </td>
            <td ng-init="food.order.smossmall = 0">{{ food.sizes | foodprice:'smos_small' }}
                <div style="display: inline" ng-show="(food.sizes | foodprice:'smos_small') != ''">
                    <i class="fa fa-minus-circle fa-lg" ng-click="food.order.smossmall=((food.order.smossmall-1)<0?0:(food.order.smossmall-1))"></i> 
                    <span class="badge">{{ food.order.smossmall }}</span> 
                    <i class="fa fa-plus-circle fa-lg" ng-click="food.order.smossmall = food.order.smossmall+1"></i>
                </div>
            </td>
            <td ng-init="food.order.smosmedium = 0">{{ food.sizes | foodprice:'smos_medium' }}
                <i class="fa fa-minus-circle fa-lg" ng-click="food.order.smosmedium=((food.order.smosmedium-1)<0?0:(food.order.smosmedium-1))"></i> 
                <span class="badge">{{ food.order.smosmedium }}</span> 
                <i class="fa fa-plus-circle fa-lg" ng-click="food.order.smosmedium = food.order.smosmedium+1"></i>
            </td>
            <td ng-init="food.order.smoslarge = 0">{{ food.sizes | foodprice:'smos_large' }}
                <i class="fa fa-minus-circle fa-lg" ng-click="food.order.smoslarge=((food.order.smoslarge-1)<0?0:(food.order.smoslarge-1))"></i> 
                <span class="badge">{{ food.order.smoslarge }}</span> 
                <i class="fa fa-plus-circle fa-lg" ng-click="food.order.smoslarge = food.order.smoslarge+1"></i>
            </td>
        </tr>
    </table>
</div>